/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color:white;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ensures content stacks vertically */
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
