.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
background: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  font-size: 1.8rem;
  margin: 0;
  flex-grow: 1; 
}

.navbar .navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navbar .navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar .navLink:hover {
  color: #ff4081;
}
